h1, h2, h3, h4, h5, p{
	font-family: metalFont;
	font-size: 36px;
}

h1 {
	font-size: 80px;
}

@font-face {
    font-family: metalFont;
    src: url("../fonts/XXII Ultimate-Black-Metal.ttf");
}

body {
	background-color: black;
	color: white;
}
