h1, h2, h3, h4, h5, p, span{
	font-family: metalFont;
	font-size: 26px;
}

#instruct, #wordStats, #letterStats {
	color: red;
}

h1 {
	font-size: 80px;
}

@font-face {
    font-family: metalFont;
    src: url("../fonts/XXII Ultimate-Black-Metal.ttf");
}

body {
	background-color: black;
	color: white;
}
